h1 {
    background: transparent;
    padding: 10px;  
    text-align:center;
    font-size: 30px;
    color:#ffffff;
    margin-top: -10px;
}

.bandeau {
    text-align: center;
    padding: 10px;
    flex:inline;
}

#Accueil, #Informations, #Contact {
    background: transparent;
    border: 2px solid rgb(151, 147, 147); 
    color: white;
    padding: 6px 12px;
    font-size: 14px; 
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0;
    margin: 5px; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 40px;
}

.left-button, .right-button {
    display: flex;
    gap: 10px;
}

#Accueil{
    margin-right:5px;
    margin-left:50px;
}
#Accueil:hover, #Informations:hover, #Contact:hover {
    background: white;
    color: black; 
    transform: translateY(-2px);
}

body {
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 5px;
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    object-fit: cover;
}
.titre {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: white;
    margin: 0;
    white-space: nowrap;
    pointer-events: none; 
}
* {
    font-family:'Optima', 'Cinzel', serif;
}
main.content {
    margin-top: 60vh; 
    padding: 4vh 8vw;
    background-color: white;
    color: #222;
    font-size: 1.1rem;
    line-height: 1.6;
    position: relative;
    z-index: 2;
}


.texte {
    margin-bottom: 40px;
    padding: 20px;
    border-left: 4px solid #888;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.05);
}

.texte h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}


