.bandeau  h1 {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#ffd700, #ffaa00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align:center;
    font-size: 40px;
    color:#0bc5c5;
    font-family:'Arial', sans-serif; 
}
.bandeau {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#ffd700, #ffaa00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align:center;
    font-size: 30px;
    color:#0bc5c5;
}

.bandeau .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px; 
}

.bandeau .buttons button {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgb(188, 189, 207);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(px);
    -webkit-backdrop-filter: blur(5px);
    min-width: 30%; 
}

.bandeau .buttons button:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

body {
    background-image: url("../images/premium-header-9772f2b7.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 5px;
}